<div class="row" ng-repeat="contact in vm.contacts">
  <div class="panel panel-default">
    <div class="panel-heading"><img ng-src="{{contact.avatar}}" height="32" width="32" /> {{contact.name}}
  
    <span class="pull-right" style="display:block;overflow:hidden;">
      <span style="font-size:10px;">{{contact.planet.name}}</span>
      <img ng-src="{{contact.planet.img}}" height="32" width="32" />
    </span>
    </div>
    <div class="panel-body">
    <form>
      <div class="action-checkbox">
        <div class="col-md-3">
        <p>Status: online</p>
        <input id="{{contact.id}}" type="checkbox" value="" height="32" width="32"
          ng-checked="vm.selection.indexOf(contact.id) > -1"
          ng-click="vm.toggleSelection(contact.id)" /> 
        <label for="{{contact.id}}"> {{contact.name}} </label>
        </div>
      </div>
    </form>
  </div>
</div>
